hr {
  width: 90%;
  place-self: center;
  line-height: 2rem;
  margin: 2rem 0 0.5rem;
  border-color: var(--orange-color);
}

/* Estilo geral do Hero */
#hero {
  position: relative;
  background-image: url("../img/images/home.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
}

.hero__content {
  max-width: 800px;
  margin: 0 auto 20px;
  padding: 20px 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.hero__title {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero__title-span {
  display: block;
  font-family: var(--third-font);
  color: var(--blood-red);
  letter-spacing: 2px;
  font-weight: initial;
}

.hero-descricao {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

.hero__button {
  display: inline-flex;
  place-self: center;
  padding: 10px 20px;
  gap: 1rem;
  background-color: #ff5722; /* Cor vibrante para chamar atenção */
  color: white;
  font-size: var(--h2-font-size);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.hero__button:hover {
  background-color: #e64a19; /* Efeito hover para o botão */
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .hero__content {
    padding: 10px 10px 0;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero-descricao {
    font-size: 1rem;
  }

  .hero__button {
    padding: 12px 25px;
  }
}

.about-us__title {
  font-family: var(--second-font);
  font-weight: initial;
  font-size: var(--biggest-font-size);
  text-align: center;
  color: var(--orange-color);
}

.abous-us__articles {
  display: flex;
  flex-direction: column;
}

.about-us__articles img {
  width: 100%;
  object-fit: cover;
  place-self: center;
  margin: 1rem 0;
  margin-top: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-us__articles {
  display: flex;
  flex-direction: column;
  background-color: unset;
  padding: 2rem 2rem 0;
  color: var(--text-color);
  text-align: justify;
  line-height: 130%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about-us__articles h2 {
  font-family: var(--second-font);
  color: var(--pumpkin-orange);
  font-size: calc(var(--h2-font-size) + 1rem);
  margin: 3rem auto 0;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: overline;
}

.about-us__articles h3,
.about-us__articles h4,
.about-us__articles p {
  place-self: center;
  width: 100%;
  max-width: 48rem;
}

.about-us__articles h3 {
  font-family: var(--second-font);
  font-size: calc(var(--h3-font-size) + 1rem);
  margin: 3rem 0 0;
  letter-spacing: 2px;
  text-align: center;
}

.about-us__articles h4 {
  margin: 2rem auto 1rem;
  font-size: calc(var(--h3-font-size) + 0.5rem);
  font-family: var(--second-font);
  letter-spacing: 2px;
}

.about-us__articles h4:first-of-type {
  text-align: center;
}

.about-us__articles h4 span {
  color: var(--blood-red);
}

.about-us__articles p {
  font-size: 1.125rem;
  line-height: 2rem;
  margin-top: 2rem;
}

.about-us__reviews {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.about-us__reviews-title {
  text-align: center;
}

.review {
  flex: 1;
  flex-direction: column;
  max-width: 23.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 1rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.review h4 {
  margin: 0 auto;
  font-family: var(--second-font);
  color: var(--orange-color-alt);
  margin: 2rem 0 0.5rem;
}

.review p, .work p {
  font-size: 1.125rem;
  line-height: 1.5;
}

.about-us__work {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 25px;
  column-gap: 25px;
}

.work {
  flex: 0 0 30%; /* Largura fixa de 30% */
  text-align: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 1rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.work p {
  margin-top: 1rem !important;
}

.about-us__articles ul {
  max-width: 48rem;
  place-self: center;
  font-size: 1.125rem;
  line-height: 2rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .about-us__articles h3,
  .about-us__articles h4,
  .about-us__articles p, 
  .about-us__articles ul {
    max-width: 100%;
    font-size: 1.25rem;
  }
}

.about-us__articles li {
  list-style-type: none;
  color: var(--blood-red);
}

.about-us__articles li:not(:last-of-type) {
  margin-bottom: 1rem;
}

.about-us__articles li span {
  font-family: var(--second-font);
}
