@media (max-width: 570px) {
  #title {
    display: none;
  }
}

#bill {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  width: 90vw;
  height: 75vh;
  background-color: var(--blood-red);
  border: 5px dashed var(--black-halloween);
  color: var(--white-color);
  z-index: 1000;
  padding: 20px;
  border-radius: 8px;
  transition: height 0.3s ease, opacity 0.3s ease;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.bill__button {
  display: flex;
  place-content: center;
  gap: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  font-size: var(--small-font-size);
  font-family: var(--second-font);
  font-weight: initial;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease,
    transform 0.5s ease-in-out;
}

.bill__button:hover {
  transform: scale(1.01);
}

.bill__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0 15px;
}

#bill__button-close {
  color: var(--white-color);
  background-color: var(--blood-red-light);
}

#bill__button-close:hover {
  background-color: var(--black-halloween);
  color: var(--blood-red);
}

.bill__main {
  display: flex;
  flex-direction: column;
}

.bill__main h1 {
  position: relative;
  width: max-content;
  place-self: center;
  color: var(--orange-color);
  font-family: var(--second-font);
  letter-spacing: 2px;
  margin-bottom: 1rem;
  font-size: var(--biggest-font-size);
  text-align: center;
}

.bill__main h1 i {
  width: 40px;
  position: absolute;
  color: var(--black-halloween);
}

.bill__main-icon-1 {
  top: -0.75rem;
  left: -2.5rem;
  transform: rotate(-15deg);
}

.bill__main-icon-2 {
  bottom: -0.5rem;
  right: -2.75rem;
  transform: rotate(15deg);
}

#bill__itens {
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

#bill__itens li {
  width: fit-content;
  display: inline-flex;
  text-align: center;
  align-self: center;
  padding: 2.5px 0;
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
  border-bottom: 1px dashed var(--blood-red-light);
}

.bill__main p {
  place-self: center;
  color: var(--black-halloween);
  font-weight: var(--font-bold);
  margin-bottom: 2.5px;
}

#bill__button-clear {
  width: fit-content;
  place-self: center;
  padding: 5px;
  background-color: var(--orange-color);
  font-weight: bold;
  font-size: var(--h2-font-size);
  opacity: 0.75;
}

#bill__button-clear:hover {
  color: var(--blood-red);
  background-color: var(--orange-color-alt);
  opacity: 1;
}

.bill__footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#bill__button-checkout {
  font-size: var(--h2-font-size);
  align-items: center;
  background-color: var(--orange-color);
  color: var(--black-halloween);
}

#bill__button-checkout:hover {
  color: var(--neon-green);
  transform: scale(1.025);
}

#bill__button-print {
  background-color: var(--black-halloween);
  color: var(--white-color);
}

#bill__button-print:hover {
  background-color: var(--body-color);
  color: var(--orange-color);
}

/* Home */

.home {
  position: relative;
  height: calc(125vh + 20%);
  overflow: hidden;
  background-color: var(--body-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.3s ease-in;
}

.home__container {
  padding-top: 6rem;
}

.home__data {
  height: 80vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
}

.home__title {
  position: relative;
  font-size: var(--biggest-font-size);
  line-height: 140%;
  width: max-content;
  margin: 0 auto 0.5rem;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px var(--orange-color-alt),
      0 0 10px var(--orange-color-alt), 0 0 15px var(--orange-color-alt);
  }
  50% {
    text-shadow: 0 0 10px var(--orange-color-alt),
      0 0 20px var(--orange-color-alt), 0 0 30px var(--orange-color-alt);
  }
  100% {
    text-shadow: 0 0 5px var(--orange-color-alt),
      0 0 10px var(--orange-color-alt), 0 0 15px var(--orange-color-alt);
  }
}

.home__title i {
  width: 40px;
  position: absolute;
  color: var(--blood-red);
}

.home__title span {
  display: block;
  font-family: var(--second-font);
  letter-spacing: 2px;
  font-weight: initial;
  color: var(--orange-color);
}

.home__title-icon-1 {
  top: -0.5rem;
  left: -1.5rem;
  transform: rotate(-15deg);
}

.home__title-icon-2 {
  bottom: 2.75rem;
  right: -1.5rem;
  transform: rotate(15deg);
}

.home__description {
  margin-bottom: 3rem;
}

.home__img {
  position: relative;
  z-index: 1;
  align-self: center;
  width: 18%;
  margin: 20px 0;
  transition: transform 0.5s ease-in-out;
}

.home__img:hover {
  transform: scale(1.15);
}

@media (max-width: 850px) {
  .home__img {
    width: 25%;
  }
}

@media (max-width: 570px) {
  .home__img {
    width: 30%;
  }
}

.home__main h1 {
  text-align: center;
  align-self: center;
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  letter-spacing: 2px;
  font-weight: initial;
  color: var(--orange-color);
  margin: 20px;
  text-decoration: underline;
}

audio {
  align-self: center;
  background-color: unset;
  border-radius: 50px;
}

.cart__add {
  font-size: var(--normal-font-size);
  margin-top: 5px;
  border: none;
  padding: 5px;
  border-radius: 8px;
  background-color: var(--orange-color);
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;
  cursor: pointer;
}

.cart__add i {
  font-size: var(--h3-font-size);
}

.cart__add:hover {
  background-color: var(--pumpkin-orange);
  scale: 1.01;
}

.products {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.product-1,
.product-2,
.product-3 {
  height: min-content;
  text-align: center;
  transition: transform 0.3s ease;
  background-color: var(--black-halloween);
  color: var(--white-color);
  border-radius: 16px;
  padding: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.product-1 p,
.product-2 p,
.product-3 p {
  opacity: 0.6;
  font-weight: var(--font-medium);
}

.product-1 h3 {
  color: var(--blood-red);
}

.product-1 p {
  color: var(--blood-red);
}

.product-2 {
  background-color: var(--blood-red);
}

.product-2 h3 {
  color: var(--yellow-halloween);
}

.product-2 p {
  color: var(--yellow-halloween);
}

.product-3 h3 {
  color: var(--text-color);
  font-weight: var(--font-bold);
}

.product-3 p {
  color: var(--text-color-light);
}

.product-1:hover,
.product-3:hover {
  transform: scale(1.01);
  background-color: var(--black-halloween);
}

.product-2:hover {
  transform: scale(1.01);
  background-color: var(--blood-red-dark);
}

.product-1 img,
.product-2 img,
.product-3 img {
  width: 70px;
  object-fit: cover;
}

.carrossel__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  place-self: center;
  width: 97.5%;
  padding: 25px 5px;
  overflow: hidden;
  position: relative;
  background-color: var(--dark-purple);
  border-radius: 25px;
}

.carrossel__header {
  display: flex;
  flex-direction: column;
  padding: 0 0 25px;
}

.carrossel__header h2 {
  font-family: var(--second-font);
  font-size: var(--biggest-font-size);
  color: var(--orange-color);
}

.carrossel__main {
  display: flex;
  flex-direction: row;
  place-content: center;
  width: 100%;
}

.carrossel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 25px;
  column-gap: 25px;
  width: 100%;
  overflow: hidden;
}

.produto-item {
  margin: 0 5px;
  padding: 10px;
  border: 3px solid var(--blood-red);
  border-radius: 8px;
  background-color: unset;
  color: var(--white-color);
  text-align: center;
}

.produto-detalhes {
  display: flex;
  flex-direction: column;
}

.produto-nome {
  font-weight: bold;
  color: var(--neon-green);
  margin-bottom: 5px;
}

.produto-preco {
  color: var(--blood-red);
  font-weight: bold;
  margin-bottom: 5px;
}

.produto-fornecedor {
  font-size: var(--small-font-size);
  font-style: italic;
  opacity: 0.7;
  color: var(--fog-gray);
}

.carrossel-btn {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: var(--pumpkin-orange);
  align-self: center;
  color: var(--white-color);
  font-size: 30px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px;
  border-radius: 50%;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.carrossel-btn:hover {
  color: var(--black-halloween);
  background-color: var(--haunting-purple);
}

.carrossel-btn i {
  color: var(--white-color);
  border: none;
  outline: none;
  border-radius: 50%;
  transition: color 0.3s ease;
}

.carrossel-btn i:hover {
  color: var(--spooky-blue);
}
