/* Estilos adicionais para a página de login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--body-color);
  color: var(--white-color);
}

.login-form,
.signup-form {
  background-color: rgba(95, 15, 64, 0.75);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: none;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.login-form.active,
.signup-form.active {
  display: block; /* Mostra o formulário ativo */
  max-height: 500px; /* Altura máxima para a animação */
  opacity: 1; /* Opacidade total */
}

.login-form.closing,
.signup-form.closing {
  max-height: 0; /* Fecha o formulário */
  opacity: 0; /* Torna invisível */ 
  transition: max-height 0.5s ease, opacity 0.5s ease;
}


.login-form h2,
.signup-form h2 {
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
  font-weight: initial;
  letter-spacing: 2px;
  color: var(--orange-color);
  margin-bottom: 15px;
}

.login-form input,
.signup-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--white-color);
  transition: border-color 0.3s ease;
}

.login-form input:focus,
.signup-form input:focus {
  outline: none;
  border-color: var(--pumpkin-orange);
}

.login-form button,
.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--orange-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover,
.signup-form button:hover {
  background-color: var(--pumpkin-orange);
}

.toggle-form {
  margin-top: 20px;
  color: var(--white-color);
  cursor: pointer;
  text-decoration: underline;
}
