:root {
  --cor-branco: #f8f9fa; /* Branco */
  --cor-cinza-claro: #e9ecef; /* Cinza Claro */
  --cor-cinza-medio: #dee2e6; /* Cinza Médio */
  --cor-cinza-escuro: #ced4da; /* Cinza Escuro */
  --cor-cinza-mais-escuro: #adb5bd; /* Cinza Mais Escuro */
  --cor-cinza: #6c757d; /* Cinza */
  --cor-antracite: #495057; /* Antracite */
  --cor-preto: #343a40; /* Preto */
  --cor-preto-mais-escuro: #212529; /* Preto Mais Escuro */
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-preto); /* Texto Preto */
  background-color: var(--cor-branco); /* Fundo Branco */
}

.cabecalho {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-cinza-escuro); /* Cinza Escuro */
  z-index: 999; /* Garante que fique acima de outros elementos */
}

.cabecalho header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cabecalho header img {
  height: 60px;
  object-fit: cover;
}

#searchBar {
  position: absolute;
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta para o centro */
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1); /* Fundo levemente escuro */
  padding: 10px 5px;
  border-radius: 20px;
}

#searchBar button {
  font-size: 25px;
  padding-left: 10px;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: var(--cor-preto);
}

#searchInput {
  display: flex;
  height: 100%;
  padding: 10px 5px;
  margin-right: 5px;
  font-size: 20px;
  border: none;
  background-color: unset;
  color: var(--cor-preto);
}

#searchInput:focus-visible {
  outline: 0;
}

#searchInput::placeholder {
  color: var(--cor-cinza);
}

li {
  color: var(--cor-preto);
}

.sub-navigation {
  background-color: var(--cor-cinza-mais-escuro);
  padding: 10px;
  position: fixed; /* Fixa a barra de navegação no topo */
  top: 80px; /* Abaixo da barra de cabeçalho */
  width: 100%; /* Largura total */
  z-index: 999; /* Garante que fique acima de outros elementos */
}

.sub-navigation ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.sub-navigation a {
  text-decoration: none;
  color: var(--cor-preto);
  transition: color 0.3s ease;
}

.sub-navigation a:hover {
  color: var(--cor-antracite);
}

.welcome {
  text-align: center;
  padding: 20px;
  height: 100vh;
  color: var(--cor-preto-mais-escuro);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.produtos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  z-index: 1;
}

.produto {
  text-align: center;
  transition: transform 0.3s ease;
}

.produto:hover {
  transform: scale(1.05);
}

#ultimasPostagens {
  padding: 20px;
  background-color: var(--cor-branco);
}

.postagem {
  text-align: center;

  margin: 20px;
  transition: transform 0.3s ease;
}

.postagem:hover {
  transform: translateY(-5px);
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--cor-antracite); /* Antracite */
  align-items: center;
  height: 100px;
  width: 100vw;
  color: var(--cor-branco); /* Texto Branco */
}

.githubIcon {
  width: 60px;
  height: auto;
  border-radius: 30px;
}

#profileIcon {
  width: 30px;
  height: auto;
  border-radius: 15px;
}

#carrossel-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carrossel {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  overflow: hidden;
}

.produto-item {
  flex: 1 0 30%;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
  display: none;
}

.produto-detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.produto-nome {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.produto-preco {
  color: #228b22;
  font-weight: bold;
  margin-bottom: 5px;
}

.produto-fornecedor {
  font-style: italic;
  color: #666;
}

.carrossel-btn {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.carrossel-btn:hover {
  background-color: #555;
}

#prev-btn {
  margin-right: 10px;
}

#next-btn {
  margin-left: 10px;
}
