:root {
  --cor-branco: #f8f9fa;
  --cor-cinza-claro: #e9ecef;
  --cor-cinza-medio: #dee2e6;
  --cor-cinza-escuro: #ced4da;
  --cor-cinza-mais-escuro: #adb5bd;
  --cor-cinza: #6c757d; /* TO DO: CHANGE NAME*/
  --cor-antracite: #495057;
  --cor-preto: #343a40;
  --cor-preto-mais-escuro: #212529;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-cinza-escuro);
  z-index: 999;
}

.cabecalho header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cabecalho header img {
  height: 60px;
  object-fit: cover;
}

@media (max-width: 570px) {
  #title {
    display: none;
  }
}

#searchBar {
  display: flex;
  flex-direction: row;
  width: clamp(275px, 30%, 500px);
  align-items: center;
  background-color: var(--cor-cinza-mais-escuro);
  padding: 10px 15px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

#searchBar:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

#searchBar button {
  width: fit-content;
  font-size: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--cor-preto);
  transition: color 0.3s ease;
}

#searchBar button:hover {
  color: var(--cor-preto-mais-escuro);
}

#searchInput {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 16px;
  border: 1px solid var(--cor-preto);
  border-radius: 25px;
  background-color: transparent;
  color: var(--cor-preto);
  transition: border-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 732px) {
  #searchBar {
    padding: 10px;
  }
  
  #searchInput {
    padding: 10px 7.5px;
    margin-left: 5px;
  }
}

#searchInput:focus-visible {
  outline: none;
  border-color: var(--cor-preto-mais-escuro);
}

#searchInput::placeholder {
  color: var(--cor-cinza);
  opacity: 0.7;
}

.profile {
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: unset;
  cursor: pointer;
}

#profileIcon {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

li {
  color: var(--cor-preto);
}

.sub-navigation {
  background-color: var(--cor-cinza-mais-escuro);
  padding: 10px 20px;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 999;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sub-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  list-style: none;
}

.sub-navigation a {
  font-weight: 500;
  text-decoration: none;
  color: var(--cor-preto);
  transition: color 0.3s ease;
  padding: 2.5px 5px;
  border-radius: 8px;
  transition: color 0.3s ease;
}

.sub-navigation a:hover {
  color: var(--cor-antracite);
}

.welcome {
  text-align: center;
  padding: 20px;
  height: 100vh;
  color: var(--cor-preto-mais-escuro);
  background-color: var(--cor-cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.welcome-header img {
  object-fit: cover;
  border-radius: 8px;
}

.produtos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  z-index: 1;
}

.produto {
  text-align: center;
  transition: transform 0.3s ease;
}

.produto:hover {
  transform: scale(1.05);
}

#carrossel-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carrossel {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  overflow: hidden;
}

.produto-item {
  flex: 1 0 30%;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid var(--cor-cinza-mais-escuro);
  border-radius: 8px;
  background-color: var(--cor-branco);
  text-align: left;
  display: none;
}

.produto-detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.produto-nome {
  font-weight: bold;
  color: var(--cor-preto);
  margin-bottom: 5px;
}

.produto-preco {
  color: var(--cor-preto-mais-escuro);
  font-weight: bold;
  margin-bottom: 5px;
}

.produto-fornecedor {
  font-style: italic;
  color: var(--cor-preto);
}

.carrossel-btn {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--cor-cinza-mais-escuro);
  color: var(--cor-preto);
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.carrossel-btn:hover {
  color: var(--cor-preto-mais-escuro);
  background-color: var(--cor-cinza);
}

#ultimasPostagens {
  background-color: var(--cor-cinza-claro);
  margin-top: 25px;
  padding: 25px 10px;
  border-radius: 8px;
}

#ultimasPostagens header {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: var(--cor-preto);
  margin-bottom: 20px;
}

#ultimasPostagens main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
}

.postagem {
  flex: 0 0 30%; /* Largura fixa de 30% */
  text-align: center;
  padding: 20px;
  background-color: var(--cor-cinza-claro);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.postagem:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.postagem img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 8px;
}

.postagem h3 {
  color: var(--cor-preto);
  margin: 10px 0;
}

.postagem p {
  color: var(--cor-cinza);
}

.mais-postagens {
  text-align: center;
  margin-top: 20px;
}

.mais-postagens a {
  text-decoration: none;
  color: var(--cor-antracite);
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--cor-cinza-medio);
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mais-postagens a:hover {
  background-color: var(--cor-cinza);
  color: var(--cor-cinza-claro);
}

footer {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  background-color: var(--cor-antracite);
  align-items: center;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.footer-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-title, .footer-subtitle {
  text-align: center;
  width: 100%;
}

.footer-title {
  color: var(--cor-cinza-claro);
}

.footer-subtitle {
  color: var(--cor-cinza-escuro);
  text-decoration: underline;
}

.footer-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.footer-main a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--cor-cinza-claro);
  transition: scale 0.3s ease, font-weight 0.3s ease;
}

.footer-main a:hover {
  font-weight: bold;
  scale: 1.05;
}

.githubIcon {
  width: 60px;
  height: auto;
  border-radius: 50px;
}

.footer-link-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
