/* root and config */
@font-face {
  font-family: Creepster;
  src: url("./fonts/Creepster/Creepster-Regular.ttf");
}


:root {
  --orange-color: hsl(22, 72%, 50%);
  --orange-color-alt: hsl(22, 72%, 46%);
  --white-color: #fff;
  --text-color: hsl(22, 4%, 75%);
  --text-color-light: hsl(22, 4%, 55%);
  --body-color: hsl(22, 8%, 6%);
  --light-purple: #9E186A;
  --purple: #5f0f40;
  --dark-purple: #2B071D;
  --neon-green: #00FF00;  /* Cor verde neon */
  --yellow-halloween: #FFDD00;  /* Cor amarela brilhante */
  --pumpkin-orange: #FF7518;  /* Laranja de abóbora */
  --black-halloween: #111;  /* Preto profundo de Halloween */
  --blood-red: #9B111E;  /* Vermelho sangue */
  --haunting-purple: #6200EE; /* Roxo assombrado */
  --dark-brown: #5A3D3A; /* Marrom escuro */
  --fog-gray: #D1D1D1; /* Cinza nevoento */
  --spooky-blue: #243c5a; /* Azul sombrio */
  
  --body-font: Verdana, sans-serif;
  --second-font: Creepster, cursive;

  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Reset CSS */

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--purple);
  color: var(--white-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(22, 8%, 10%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(22, 8%, 15%);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 0.5rem;
  background-color: hsl(22, 8%, 20%);
}

/* Page Header*/

.page-header {
  position: fixed;
  width: 100%;
  height: 75px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-purple);
  z-index: var(--z-fixed);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.page-header header {
  font-family: var(--second-font);
  font-weight: initial;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.page-header header img {
  height: 60px;
}

@media (max-width: 570px) {
  #title {
    display: none;
  }
}

.search {
  display: flex;
  flex-direction: row;
  width: clamp(300px, 30%, 500px);
  margin-right: 15px;
  align-items: center;
  background-color: var(--orange-color-alt);
  padding: 10px 15px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;;
}

.search:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.search button {
  width: fit-content;
  font-size: var(--h1-font-size);
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--white-color);
  transition: color 0.3s ease;
}

.search button:hover {
  color: var(--pumpkin-orange);
}

.search__input {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  margin-left: 10px;
  font-size: var(--normal-font-size);
  border: 1px solid var(--white-color);
  border-radius: 25px;
  background-color: transparent;
  color: var(--white-color);
  transition: border-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 732px) {
  .search {
    padding: 10px;
  }

  .search__input {
    padding: 10px 7.5px;
    margin-left: 5px;
  }
}

.search__input:focus-visible {
  outline: none;
  border-color: var(--pumpkin-orange); 
}

.search__input::placeholder {
  color: var(--white-color);
  opacity: 0.7;
}

.profile {
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: unset;
  cursor: pointer;
}

.profile-icon {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.sub-navigation {
  display: none;
  position: fixed;
  top: 75px; 
  left: 0;
  right: 0;
  background-color: var(--purple);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: var(--z-tooltip);
  opacity: 0; 
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sub-navigation.active {
  display: inline-flex;
  opacity: 1;
  transform: translateY(0);
}

.sub-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 10px;
}

.sub-navigation a {
  color: var(--white-color);
  font-size: var(--normal-font-size);
  padding: 10px;
  transition: background-color 0.3s ease;
  border-radius: 8%;
}

.sub-navigation a:hover {
  background-color: var(--pumpkin-orange); 
}

.hamburger-menu {
  width: calc(var(--biggest-font-size) + 10px);
  height: calc(var(--biggest-font-size) + 10px);
  display: none;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: var(--dark-purple);
  font-size: var(--biggest-font-size);
  color: var(--white-color);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hamburger-menu.active {
  transform: rotate(90deg); /* Gira o ícone ao ser clicado */
}

.hamburger-menu:hover {
  color: var(--orange-color);
}

/* Exibir o hamburger no mobile */
@media (max-width: 570px) {
  .hamburger-menu {
    display: block; /* Exibe o ícone no mobile */
  }

  .profile,
  .profile-icon {
    display: none;
    width: 0;
    height: 0;
  }
}

/* Home */

.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: var(--dark-purple);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.home__container {
  padding-top: 6rem;
}

.home__data {
  height: 50vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
}

.home__title {
  position: relative;
  font-size: var(--biggest-font-size);
  line-height: 140%;
  width: max-content;
  margin: 0 auto 0.5rem; 
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px var(--orange-color-alt), 0 0 10px var(--orange-color-alt), 0 0 15px var(--orange-color-alt);
  }
  50% {
    text-shadow: 0 0 10px var(--orange-color-alt), 0 0 20px var(--orange-color-alt), 0 0 30px var(--orange-color-alt);
  }
  100% {
    text-shadow: 0 0 5px var(--orange-color-alt), 0 0 10px var(--orange-color-alt), 0 0 15px var(--orange-color-alt);
  }
}

.home__title i {
  width: 40px;
  position: absolute;
  color: var(--white-color);
}

.home__title span {
  display: block;
  font-family: var(--second-font);
  letter-spacing: 2px;
  font-weight: initial;
  color: var(--orange-color);
}

.home__title-icon-1 {
  top: -0.5rem;
  left: -1.5rem;
  transform: rotate(-15deg);
}

.home__title-icon-2 {
  bottom: 2.75rem;
  right: -1.5rem;
  transform: rotate(15deg);
}

.home__description {
  margin-bottom: 2.5rem;
}

.products {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.product {
  text-align: center;
  transition: transform 0.3s ease;
  background-color: var(--black-halloween); /* fundo escuro */
  color: var(--white-color); /* texto claro para contraste */
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s ease;
}


.product:hover {
  transform: scale(1.05);
  background-color: var(--spooky-blue);
}

#carrossel-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px 5px;
  overflow: hidden;
  position: relative;
  background-color: var(--purple);
}

.carrossel {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.produto-item {
  flex: 1 0 30%;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid var(--blood-red); /* borda vermelha sangue */
  border-radius: 8px;
  background-color: var(--dark-purple); /* fundo roxo escuro */
  color: var(--white-color); /* texto branco */
  text-align: left;
  display: none;
}

.produto-detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.produto-nome {
  font-weight: bold;
  color: var(--neon-green); /* verde neon para o nome */
  margin-bottom: 5px;
}

.produto-preco {
  color: var(--blood-red); /* vermelho sangue para preço */
  font-weight: bold;
  margin-bottom: 5px;
}

.produto-fornecedor {
  font-style: italic;
  color: var(--fog-gray); /* cinza nevoento para fornecedor */
}

.carrossel-btn {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: var(--pumpkin-orange); /* laranja de abóbora para os botões */
  color: var(--white-color);
  font-size: 30px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: color 0.3s ease, background-color 0.3s ease;
}


.carrossel-btn:hover {
  color: var(--black-halloween); /* preto profundo no hover */
  background-color: var(--haunting-purple); /* roxo assombrado no hover */
}

.carrossel-btn i {
  color: var(--white-color);
  border: none;
  outline: none;
  border-radius: 50%;
  transition: color 0.3s ease;
}

.carrossel-btn i:hover {
  color: var(--spooky-blue); /* azul sombrio no hover */
}

#ultimasPostagens {
  background-color: var(--dark-purple);
  padding: 25px 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#ultimasPostagens header {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: var(--h2-font-size);
  color: var(--blood-red);
  font-family: var(--second-font);
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#ultimasPostagens main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 25px;
  column-gap: 25px;
}

.postagem {
  flex: 0 0 30%; /* Largura fixa de 30% */
  text-align: center;
  padding: 20px;
  background-color: var(--purple);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--white-color);
}

.postagem:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.postagem img {
  max-width: 100%;
  border-radius: 8px;
}

.postagem h3 {
  font-size: var(--h3-font-size);
  color: var(--blood-red);
  margin: 10px 0;
  font-weight: bold;
}

.postagem p {
  color: var(--light-purple);
  font-weight: 500;
}

.mais-postagens {
  text-align: center;
  margin-top: 20px;
}

.mais-postagens a {
  color: var(--white-color);
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--black-halloween);
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mais-postagens a:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
}

footer {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  background-color: var(--black-halloween);
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.footer-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-title,
.footer-subtitle {
  text-align: center;
  width: 100%;
}

.footer-title {
  color: var(--light-purple);
}

.footer-subtitle {
  color: var(--purple); /* laranja de abóbora para o subtítulo */
  text-decoration: underline;
}

.footer-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.footer-main a {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 10px;
  color: var(--white-color);
  transition: scale 0.3s ease, font-weight 0.3s ease;
}

.footer-main a:hover {
  font-weight: bold;
  scale: 1.05;
}

.githubIcon {
  width: 60px;
  height: auto;
  border-radius: 50px;
}

.footer-link-title {
  color: var(--orange-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}